.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.chat{
  border:1px solid white;
  min-height: 80vh;
  min-width: 30vw;
}
.head{
  min-height: 10vh;
}
.txts{
  min-height: 67vh;
} 
.input{
  min-height:3vh;
  border-top: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.textInput{
  width: 25vw;
  min-height: 5vh;
}
.signIn{
  min-height:80vh;
  min-width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sign{
  min-width: 20vw;
}
.sign-out{
  outline:none;
}
.send{
  width:50px;
  height:5vh;
  margin-bottom: 0; 
}
.msgSent{
  min-width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.msgReceived{
  min-width: 30vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.chats{
  min-height: 65vh;
  display: flex;
  flex-direction: column;
}